body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  #address {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 25%;
  }
  
  h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #10847e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 35%;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #3071a9;
  }
