#navbar{
    width: 100%;
    height: 123px;
    background-color: #10847e;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
 
}
.fn{
    font-family: Open Sans,sans-serif!important;
    font-size: 13px;
    font-weight: 300;
    color:#10847e;
}
.mainLogo{
    width: 165px;
    height: 50px;
    margin: 10px 0 10px 150px;
    cursor: pointer;
}
.bar{
    width: 70%;
    height: 100px;
    margin: 10px 0 10px 40px;
}
.search{
    border-radius: 5px;
    width: 75%;
    height: 48px;
    background-color: white;
}
.search > div{
    /* border: 1px solid red; */
    display:flex;
    height: 45px;
    align-items:center;
    margin-left: 20px;
    
}
#pin{
    border: 0px;
    margin: 0px;
}
.searchLogo{
    width:50px;
    height: 100%;
    margin-left: 38px;
    background-color: rgb(240, 230, 230);
    border-radius: 5px;
    
    
}
.searchLogo > img{
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    
}
input{
    margin-left: 10px;
    height: 80%;
    width: 70%;
    border: 0px;
}
#downBar{
    display:flex;
    margin-top: 28px;
}
#downBar>div>a{
    font-size: 16px;
    margin-left: 30px;
    color: white;
    font-weight: 400;
    text-decoration: none;
}
.left{
    width: 50%;
    margin-left: -30px;
}
.right{
    width: 30%;
    margin-left: 180px;
}
footer {
    background-color: #f5f5f5;
    padding: 20px 0;
    margin-top: 40px;
    }

    #footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    }
    .footer-column {
    flex-basis: calc(20% - 20px);
    margin-bottom: 20px;
    }

    .footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    }

    .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    .footer-column ul li {
    margin-bottom: 5px;
    }

    .footer-column ul li a {
    color: #333;
    text-decoration: none;
    }

    #footer-social {
    justify-content: right;

    }

    #footer-social a {
    display: inline-block;
    margin-right: 10px;
    }

    #footer-payment img {
    margin-right: 10px;
    width: 40px;
    }

    #footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    }

    #footer-bottom p {
    font-size: 14px;
    color: rgb(101, 97, 97);
    margin: 0;
   }
   .healthconcern img{
    width: 200px;
    margin-left: 10px;
   }
   /* Responsive Styles */
    @media screen and (max-width: 768px) {
   .footer-column {
    flex-basis: calc(50% - 20px);
   }
}

   @media screen and (max-width: 576px) {
  .footer-column {
    flex-basis: 100%;
  } 
}
#address{
    /* border :1px solid ; */
    max-height: fit-content;
    width: 30%;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px;
    padding: 20px;
    margin-top: 150px;
    border-radius:10px;
    text-align: center;
}
p{
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}
.input {
    height: 30px;
    width: 50%;
    font-size: 15px;
    border-radius: 5px;
    border :0.5px solid rgb(211, 201, 201);
    margin-top: -20px;
}
h4,p,#atype,h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(83, 93, 106);
}
#atype{
    padding:10px;
    border-radius: 5px;
    width: 100px;

}
#sub {
   padding: 10px 30px;
   color: white;
   background-color: teal;
   border: 0px;
   font-weight: 700;
   border-radius: 5px;
   margin: 20px 0 10px 0;
   text-align: center;
}
#gotocart {
   padding: 10px 30px;
   color: white;
   background-color: teal;
   border: 0px;
   font-size: large;
   font-weight: 700;
   border-radius: 5px;
   margin-left: 45%;
   margin-top: 20px;
   justify-content: space-between;
   cursor: pointer;
}
#gotocart:hover{
    background-color: #0d504d;
}

@media only screen and (min-width:0px) and (max-width:320px)
{
 #address{
     width: 100%;
 }
 #gotocart{
     margin-left: 50px;
 }
    
}

@media only screen and (min-width:321px) and (max-width:720px)
{
 #address{
     width: 50%;
 }
 #gotocart{
     margin-left: 120px;
 }
}