@media (max-width: 767px) {
    #header {
      align-items: flex-start;
    }
  
    #search-bar input[type="text"] {
      width: 80%;
      max-width: none;
    }
  
    #user-actions {
      margin-inline: 0;
    }
  
    #navigation ul li {
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) {
    #space1 {
      flex-direction: column;
     justify-content: center;
      row-gap: 30px;
      margin-left: 10px;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    #space1 {
        flex-direction: column;
       justify-content: center;
        row-gap: 30px;
        margin-left: 10px;
        margin-left: 70px;
      }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    #search-bar input[type="text"] {
      width: 100%;
      max-width: 300px;
    }
}
@media (max-width: 767px) {
    #tests {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0;
      padding: 20px;
      row-gap: 20px;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    #tests {
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      margin-top: 20px;
      row-gap: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    #tests {
      margin-left: 70px;
      padding: 30px;
    }
  }
@media (max-width: 767px) {
    #shopcatogory {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    #shopcatogory {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }
  }

  @media (min-width: 1024px) {
    #shopcatogory {
      width: 80%;
      display: flex;
      padding: 50px;
    }
  }
@media (max-width: 767px) {
  .product-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .product-list{
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 30px;
  }
}

@media (min-width: 1024px) {
  .product-list {
    width: 80%;
    display: flex;
    padding: 50px;
  }
}
@media (max-width: 767px) {
    #box {
        #box {
            height: 50px;
            background-color: #FFF3F3;
            border: 1px solid #996969;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-evenly;
          }
        }
        #pro1{
            margin-left: -30px;
          }
          #pro2{
           margin-left: 0px;
          }
          #pro3{
            margin-right: -20px;
          }
          #pro4{
            margin-right:-30px;
            background-color: #FACCCA;
            text-align: center;
            border-radius: 5px;
            width: 100px;
            font-size: medium;
        }
      }
  @media (min-width: 768px) and (max-width: 1023px) {
    #box {
        #box {
            height: 50px;
            background-color: #FFF3F3;
            border: 1px solid #996969;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-evenly;
          }
        }
        #pro1{
            margin-left: -60px;
          }
          #pro2{
           margin-left: -100px;
          }
          #pro3{
            margin-right: -100px;
          }
          #pro4{
            margin-right:-60px;
            background-color: #FACCCA;
            text-align: center;
            border-radius: 5px;
            width: 100px;
            font-size: medium;
        }
    }
  @media (min-width: 1024px) {
    #box {
      height: 50px;
      background-color: #FFF3F3;
      border: 1px solid #996969;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
    }
  }
 @media (max-width: 767px) {
    #newlounched {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    #newlounched {
      width: 100%;
      flex-wrap: wrap;
      padding: 20px;
      margin-left: 30px;
    }
  }

  @media (min-width: 1024px) {
    #newlounched {
      width: 80%;
      display: flex;
      padding: 50px;
    }
}
@media (max-width: 767px) {
    #more-products{
        width: 77%;
        display: flex;
        justify-content: center;
        margin-left:90px;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
      }
    }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    #more-products{
        width: 77%;
        display: flex;
        justify-content: center;
        margin-left:90px;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
      }
  }
